<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}} | Image Uploader</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <link href="https://fonts.cdnfonts.com/css/times-new-roman" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
{{>partials/_navbar}}

<main class="">
    {{$content}}{{/content}}
</main>

{{>partials/_footer}}

<script src="/js/index.js"></script>
</body>
</html>